 <template name="dashboard">
	<div class="container">
		<div class="row" id="champion-messages">
			<div class="col-sm-4">
				{{> favorites}}
				{{> add}}
			</div>
			<div class="col-sm-8">
				{{> alert}}
				{{> posts}}
			</div>
		</div>
	</div>
</template>


<template name="add">
	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Create Report</h3>
			</div>
			<div class="panel-body">
				{{#with currentUser }}
					{{#if profile.firstName }}
						{{> currentUserProfile }}
						{{> addFormBody }}
					{{ else }}
						{{> alertCompleteProfile }}
					{{/if}}
				{{/with}}
			</div>
	</div>
</template>

<template name="addFormBody">
	{{#autoForm id="add" collection="Posts" type="insert"}}
		{{> afQuickField name="location" }}
		{{> afQuickField name="summary" }}
		{{> afQuickField name="description" }}
		{{> afQuickField name="injury" }}
		{{> afQuickField name="damage" }}
		{{> afQuickField name="picture"}}
		<!-- {{> afFileUpload name="picture" collection="Attachments"}} -->
		<button type="submit" class="btn btn-primary">Add Post</button>
	{{/autoForm}}
</template>

<template name="addWithModal">
	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Add with a modal</h3>
			</div>
			<div class="panel-body">
				<a href="#afModal" data-toggle="modal" class="btn btn-primary" collection="Posts" operation="insert" fields="title,content,picture">Add a new post</a>
			</div>
	</div>
</template>

<template name="posts">
	{{#each orderByFavorites Posts}}
		<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Summary: {{ summary }}
						<span class="pull-right">
							<i class="fa fa-thumbs-up"></i> {{favoriteCount _id}}
							<i class="fa fa-comments"></i> {{commentCount _id}}
						</span>
					</h3>
				</div>
				<div class="panel-body">
					<p class="text-center">
						{{#with getDoc picture 'Attachments'}}
							<img src="{{url}}" class="img-thumbnail img-rounded">
						{{/with}}
					</p>
					<div class="media">
						<a class="pull-left" href="#">
							{{> profileThumb _id=owner}}
						</a>
						<div class="media-body">
							<p>{{content}}</p>
							{{#if $eq owner User._id}}
							<small>
								{{#afModal title="Update post" omitFields="createdAt,updatedAt,owner" class="text-primary" collection="Posts" operation="update" doc=_id}}
									<i class="fa fa-pencil" buttonContent="Edit post"></i> Edit post
								{{/afModal}}
								{{#afModal title="Delete post" class="text-danger" collection="Posts" operation="remove" doc=_id}}
									<i class="fa fa-times" buttonContent="Edit post"></i> Delete
								{{/afModal}}
							</small>
							{{/if}}
						</div>
					</div>
				</div>
				<div class="panel-footer">
					{{> favoriteButton _id=_id}}
					{{> commentFormToggle }}
					{{> comments}}
				</div>
		</div>
	{{/each}}
</template>

<template name="favorites">
	{{#if Favorites 'Posts'}}
	<div class="panel panel-default">
		<div class="panel-heading">
				<h3 class="panel-title">Priority List</h3>
		</div>
		<div class="panel-body">
			<ul>
			{{#each Favorites 'Posts'}}
				<li>
					<a href="#{{ summary }}">{{ summary }}</a>
				</li>
			{{/each}}
			</ul>
		</div>
	</div>
	{{/if}}
</template>

<template name="user">
	
</template>

<template name="currentUserProfile">
  <div class="alert alert-success" role="alert">
  	<h3>{{ profile.firstName }} {{ profile.lastName }} 
	  	<span style="font-size:16px;">{{ profile.empNum }}</span>
  	</h3>
		<h4>{{ profile.crew }} Crew</h4>
		<p>{{ profile.phone }}</p>
		{{#each emails }}
			<p>{{ address }}</p>
		{{/each}}
  </div>
</template>

<template name="alertCompleteProfile">
	<div class="alert alert-warning" role="alert">
		<a href="{{pathFor 'profile' }}" style="color:inherit;">
			<i class="fa fa-warning"></i> Finish your profile to submit a report.
		</a>
	</div>
</template>	